.DS_Store
__MACOSX/*
node_modules/*
.htaccess
wp-config.php
site/uploads/*
*.log
.vagrant/
.directory
.fuse*
site/wflogs/*
site/plugins/wordfence/*
error_log
site/plugins/loja5-woo-komerci-webservice/key.php
*.code-workspace
site/themes/villareal-marina/public/css/style.css
site/themes/villareal-marina/public/js/main.min.js
site/themes/villareal-marina/public/js/main.js
yarn.lock
node_modules
