.alert {
	  display: flex;
	  border-radius: 4px;
	  border: 1px solid transparent;
	  font-size: 1.5rem;
	  padding: 1.2rem 2rem;
	  font-weight: 600;
	  margin-bottom: 3rem;
    font-family: Aeonik;
    top: 70px!important;
	
	  &.-warning {
		color: #856404;
		background-color: #fff3cd;
		border-color: #ffeeba;
	  }
	  &.-danger {
		color: #721c24;
		background-color: #f8d7da;
		border-color: #f5c6cb;
	  }
	  &.-success {
		color: #155724;
		background-color: #d4edda;
		border-color: #c3e6cb;
	  }
	  &.-info {
		color: #0c5460;
		background-color: #d1ecf1;
		border-color: #bee5eb;
	  }
	  .close {
      float: right;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      opacity: .5;
      border: none;
      background-color: transparent;
      top: 0px !important;
      right: 0px !important;
      cursor: pointer;
  
	  }
	}
  .alert-alert {
	z-index: 2147483640;
	color: #856404;
	background-color: #fff3cd;
	border-color: #ffeeba;
  }
  .alert-danger {
  z-index: 2147483640;
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
  }
  .alert-success {
  z-index: 2147483640;
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
  }
  .alert-info {
	color: #0c5460;
	background-color: #d1ecf1;
	border-color: #bee5eb;
  }
  .wpcf7-not-valid{
	border-color: #e01123 !important;
  }
  .wpcf7-not-valid-tip{
	display: none !important;
  }
  .wpcf7-response-output{
	display: none !important;
  }

  @keyframes bg {
    0% {
        background-size:    0 0,
                            0 0,
                            0 3px,
                            0 0;
    }
    25% {
        background-size:    100% 0,
                            0 100%,
                            100% 3px,
                            0 100%;
    }
    50% {
        background-size:    100% 0,
                            0 100%,
                            100% 3px,
                            0 100%;
    }
    75% {
        background-size:    100% 0,
                            0 100%,
                            100% 3px,
                            0 100%;
    }
    100% {
        background-size:    100% 0,
                            0 100%,
                            100% 3px,
                            0 100%;
    }
}

.border-notify {
    z-index: 11000!important;
    background-repeat: no-repeat;
    background-image:   linear-gradient(to right, var(--primary-color) 100%, var(--primary-color) 100%),
                        linear-gradient(to bottom, var(--primary-color) 100%, var(--primary-color) 100%),
                        linear-gradient(to right, var(--primary-color) 100%, var(--primary-color) 100%),
                        linear-gradient(to bottom, var(--primary-color) 100%, var(--primary-color) 100%);
    background-size:    100% 0,
                        0 100%,
                        100% 3px,
                        0 100%;
    background-position:    0 0,
                            100% 0,
                            100% 100%,
                            0 100%;
    animation: bg 26.2s cubic-bezier(1, 1, 1, 1) 1;
    animation-play-state: running;
}