.ham {
	background-color: transparent;
	border: 0;
	width: 50px;
	height: 50px;
	display: block;
	padding: 1rem;
	position: absolute;
	right: 0;
	overflow: hidden;
	cursor: pointer;
    transform: translate(-20px, 0px);

	@media (min-width: $screen-lg) {
		display: none;
	}

	&__item {
		display: block;
		width: 100%;
		height: 2px;
		background-color: #fff;
		margin-bottom: 0.5rem;
		transition: all 0.5s;

		&:first-child {
			margin-top: 0.2rem;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.main-header {
    position: absolute;
    width: 100%;
    height: 0rem;
    top: 0;
    z-index: 9000;
    background: linear-gradient(0deg, #26120100 0%, #261201 100%);

	.main-logo {
        position: absolute;
        top: 0;
        left: 6%;
        background-color: #fff;
        border-radius: 0 0 30px 30px;    
        padding: 25px;
        transition: 0.3s;
		box-shadow: 0 0 10px var(--primary-color) !important;
		border: none !important;

        &:hover{
            transition: 0.3s;
        }

		@media (max-width: 991px) {
			height: auto;
			padding: 15px;
		}

        a{

            svg{
                width: 111px;
                height: 101px;

				@media (max-width: 912px) {
					display: none;
				}
            }

			@media (max-width: 912px) {
				background-image: url(../images/svg/Logo-Hotel-marina-Mobile.svg);
				background-repeat: no-repeat;
				background-size: cover;
				width: 68px;
				height: 61px;
			}
        }
	}

	&__menu {
		display: flex;
		align-items: center;

		.btn-header{
			display: flex;
			align-items: center;
            gap: 25px;

			@media (max-width: 991px) {
				flex-direction: column;
				margin: 5rem 0 0;
				gap: 30px;
			}
			
			.link-menu{
				position: relative;
				display: inline-block;
				background-color: transparent;
				font-family: Aeonik;
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 30px;
				color: var(--text-color-primary);
				position: relative;
				z-index: 3;
				cursor: pointer;
	
				-moz-transition: all 0.3s;
				-webkit-transition: all 0.3s;
				transition: all 0.3s;

				&:before{
					content: '';
					width: 0px;
					height: 1px;
					background: #fff;
					position: absolute;
					top: 100%;
					left: 0;
					transition: all .5s;
				}

				&:hover{

					&:before{
						width: 100%;
					}
				}

				@media (max-width: 991px) {
					color: #FFF;
					font-size: 25px;
				}
			}

			.phone{
				display: none;

				@media(max-width: $screen-md){
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 15px;

					p{
						margin: 0;
					}

					svg{
						width: 24px;
						height: 24px;
						fill: #fff;
					}
				}
			}

			.networks{
				display: none;

				@media(max-width: 991px){
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 15px;

					svg{
						width: 24px;
						height: 24px;
						fill: #fff;
					}
				}
			}
	
			.icon-menu{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				width: 25px;
				height: 18px;
				cursor: pointer;
				margin-left: 1rem;

				@media (max-width: $screen-lg) {
					display: none;
				}
				
				span{
					background-color: #ffffff69;
					height: 2px;
					border-radius: 25px;
	
					-moz-transition: all 0.3s;
					-webkit-transition: all 0.3s;
					transition: all 0.3s;
				}
	
				.item-1{
					width: 100%;
				}
	
				.item-2{
					width: 75%;
				}
	
				.item-3{
					width: 50%;
				}
	
				&:hover{
	
					span{
						-moz-transition: all 0.3s;
						-webkit-transition: all 0.3s;
						transition: all 0.3s;
	
						background-color: #fff;
					}
	
					
					.item-2{
						-moz-transition: all 0.3s;
						-webkit-transition: all 0.3s;
						transition: all 0.3s;
	
						width: 100%;
					}
	
					.item-3{
						-moz-transition: all 0.3s;
						-webkit-transition: all 0.3s;
						transition: all 0.3s;
	
						width: 100%;
					}
				}
			}
		}
	}
}

.main-header-normal{
	height: 100px;
	position: inherit;
	background: linear-gradient(0deg, #26120100 0%, #08171F 100%);
	box-shadow: 0 0 10px #000 !important;

	.container{
    	height: 100px;
	}

	.main-logo{
		z-index: 11;
	}
}

.main-logo {

	@media (max-width: $screen-lg - 1px) {
		height: 60px;
	}

	a {
		display: block;

		img {
			transition: 300ms all;
			display: block;
		}
	}
}

.is-nav {
	overflow: hidden;
	.ham {
		z-index: 9999;
		
		&__item {
			position: absolute;
			top: 23px;
			left: 13px;
			width: 45%;
			background-color: #FFF;

			&:nth-child(1) {
				transform: rotate(45deg);
				margin-top: 0;
			}
			&:nth-child(2) {
				transform: rotatey(90deg);
				opacity: 0;
			}
			&:nth-child(3) {
				transform: rotate(-45deg);
			}
		}
	}
	
	.main-menu {
		transform: translateX(0);
	}
}

.header-title{
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	height: 130px;
	
	span{
		border-bottom: solid 3px var(--primary-color);
		height: 130px;

		h1{
			text-align: center;
			font-family: 'Osaca-bold';
			font-size: 32px;
			line-height: 100%;
			letter-spacing: 0.01em;
			text-transform: uppercase;
			color: #FFF;
			margin: 2rem 0 0;

			@media (max-width: 767px) {
				word-break: break-all;
			}
		}
	}
}

@-webkit-keyframes a {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes a {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.active-header{
	-webkit-animation: 1s a;
    animation: 1s a;
	position: fixed;
	height: 100px;
	background-image: none;
	z-index: 10002;
	background: linear-gradient(90deg, #08171F 0%, #1B4B63 99.93%);
	box-shadow: 0px 13px 20px rgba(38, 18, 1, 0.3);
	padding-top: 2rem;
	
	.container{
		height: 60px;
		max-width: 1170px;
	}

	.ham{

		&__item{
			background-color: #FFF;
		}
	}

    .main-logo{
        box-shadow: 0px -10px 21px 1px #000;

        &:hover{
            box-shadow: 0px -10px 15px 0px #000;
        }
    }

	.main-header{

		&__menu{

			.main-menu{

				.btn-header{

					.reserva{
						display: none;

						@media(max-width: $screen-md){
							display: block;
						}
					}
				}
			}
		}
	}

	.open-menu{

		.container{
			max-width: 940px;
		}
	}
}

.overlay-filter {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 9000;
    cursor: pointer;
}